:root {
    font-family: "coolvetica", helvetica, impact; 
}

* {
    box-sizing: border-box;
} 

body {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: url(Baggrund.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    font-family: "coolvetica", Helvetica, impact, sans-serif;
    font-size: 1.125rem;
    line-height: 1.4;
}


h1 {
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
}

p {
    font-size: 1.125rem;
  }

h1,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.container {
    width: 100%;
    /* margin: 3.125rem auto 0 auto; */
    
   
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  

.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}

.description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    text-align: center;
}


.text-box {
    display: block;
    align-items: left;
    top: 50%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.625rem 0.625rem;
    border-radius: 0.25rem;
    background: rgba(23,6,43,00.7); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    
}



.button {
    display: inline-block;
    width: fixed;
    padding: 0.75rem;
    background-image: url(7vqd.gif);
    opacity: 0.8;
    border-radius: 2px;
    cursor: pointer;
    font-size: 30px;
    border: none;
    -webkit-background-clip: 1;
    font-weight: bolder;
    font-family: Impact, Helvetica, "Franklin Gothic Bold", "Arial Black", "sans-serif";
    -webkit-text-fill-color: white;
    position: absolute;
    top: 8px;
    right: 16px;
  }

  .button-div {
    top: 0;
    right: 0;
  }

  .p-column {
    float: left;
    width: 50%;
    padding: 10px;
}

.p-row {
  content: "";
  display: table;
  clear: both;
}
