html, body {
  background-color: black;
  margin: 0;
  padding: 0;
}

canvas {
  display: hidden;
}

p {
  background: url(7vqd.gif);
  font-family: Impact, Helvetica, "Franklin Gothic Bold", "Arial Black", "sans-serif";
  font-size: 30px;
  -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
